body {
    background-color: #333;
}

.nav-link {
    color: #111
}

.hero-block {
    max-height: 50vh;
    background-color: #DCC1AB;
    overflow: hidden;
}

.hero-block h1 {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;

    /* 116.667% */
}

.hero-block p {
    width: 70%;
    color: var(--black, #111);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.hero-block div button {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    background: #1B5B31;
    border: none
}

.hero-block div div button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #1B5B31;
    color: #1B5B31;
}

.offer {
    display: flex;
    flex-direction: column;
    background-color: #F5F0EC;
}

.offer_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px 0;
    width: 50%;
    margin: 0 auto;
    transform: translateX(-20%);
}

.offer_header h1 {
    margin-bottom: 30px;
    color: #111;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.44px;
}

.offer_header h1 p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
}

.offer_items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.offer_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 25%;
    max-width: 500px;
    padding: 48px 40px;
    background-color: #fff;
    border-radius: 28px;
    transition: transform .2s;
}

.offer_item:hover {
    transform: scale(1.04);
}

.offer_item a {
    text-decoration: none;
    padding-bottom: 5px;
    color: #1B5B31;
    border-bottom: 1px solid #1B5B31;
    align-self: baseline;
}

.offer_item h2 {
    font-size: 28px;
    margin-bottom: 12px;
    margin-top: 32px;
}

.offer_item p {
    font-size: 14px;
}

/* Comapny */

.company {
    display: flex;
    justify-content: space-around;
}

.company_photo {
    width: 40%;
}

.company_content {
    width: 60%;
    background-color: #1B5B31;
}

.company_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px;
    height: 100%;
}

.company_content h2 {
    color: #F5F0EC;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.44px;
}

.company_content p {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    color: #F5F0EC;
    font-weight: 400;
}

.company_content button {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    background: #1B5B31;
    background-color: transparent;
    border: 1px solid #F5F0EC;
}

.company_photo {
    background-image: url('./Photo.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.realize {
    background-color: #DCC1AB;
}

.realize h2 {
    padding: 50px;
}

  .macy-container img {
    width: 100%;
  }

/* Instagram */

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 25vh;
}

.instagram_content {
    display: flex;
    padding: 80px;
    margin: 60px;
    background-color: #1B5B31;
    color: #fff;
}

.instagram_content button {
    align-self: start;
    padding: 10px 24px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 50px;
    color: #1B5B31;
    border: none;
}

.instagram_content_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.dblock {
    display: block;
}

/* Footer */

.footer {
    background-color: #000;
    color: #fff;
    padding: 100px;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_content_line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_content_line1 img {
    filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(28deg) brightness(112%) contrast(98%);
}

.footer_content_line1 div p {
    margin: auto;
}

.footer_content_line2 {
    display: flex;
    justify-content: space-between;
}

.footer_content_line2 ul {
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
}

.footer_content_line2 ul li {
    margin: 20px 20px 20px 0;
    border-bottom: 1px solid transparent;

}

.footer_content_line2 ul li a {
    color: #fff;
    text-decoration: none;
}

.footer_content_line2 ul li:hover {
    border-bottom: 1px solid #1B5B31;
}

.footer_content_line2 div a {
    color: #fff;
    text-decoration: none;
}

.footer_content_line2 div a:nth-child(2) {
    margin-left: 50px;

}

.footer_content_line3 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer_content div button {
    padding: 10px 15px;
    background-color: #1B5B31;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin-left: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}


@media (max-width: 900px) {

    /* Hero */

    .hero-block {
        max-height: 80vh;
    }

    .offer_item {
        width: 90%;
        margin: 10px auto;
    }

    .offer_items {
        flex-direction: column;
    }

    .company {
        flex-direction: column;
    }

    .company_content {
        width: 100%;
        height: 50%;
    }

    .company_content_wrapper {
        padding: 40px;
    }

    .company_photo {
        width: 100%;
        height: 400px;
    }

    /* Instagram */

    .instagram_content {
        flex-direction: column;
        margin: 20px;
        padding: 60px;
    }

    .instagram_content h2 {
        font-size: 1.5em;
    }

    .instagram_content_wrapper {
        margin-top: 30px;
        margin-left: 0;
    }

    .instagram_content_wrapper p {
        margin-bottom: 40px;
    }

    .footer {
        padding: 20px;
    }

    .footer hr {
        margin: 3em 0;
    }

    .footer_content_line2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_content_line2 div {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer_content_line2 div a:nth-child(2) {
        margin: 0;
    }
    
    .footer_content_line2 div a {
        padding: 0 15px;

    }

    .footer_content_line2 ul {
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer_content_line1,
    .footer_content_line1 div {
        flex-direction: column;
    }

    .footer_content_line1 div p {
        text-align: center;
    }

    .footer_content_line1 img {
        padding: 20px;
    }

    .footer_content_line1 div p {
        padding-bottom: 20px;
    }

    .footer_content_line1 div button {
        margin: 0;
    }

    .footer_content_line2 ul li {
        margin: 0 20px 20px 20px;
    }

}

@media (max-width: 768px) {
    
    .footer_content_line3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
	background: #DDD;
	font-size: 15px;
}
#wrap {
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 30px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 3px 10px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
  background-color: #adadad
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}