@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

body {
    background-color: #DCC1AB;
}

nav .searchbar {
    position: relative;
}

.searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.searchbar .icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s 0.3s ease;
    cursor: pointer;
}

.searchbar {
    padding-left: 35px;
}

.searchbar .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.searchbar .icon.active {
    background: #062333;
    transition: all .5s ease;
}

.searchbar .icon.active img {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(210deg) brightness(102%) contrast(100%);
}

.searchbar input[type="text"] {
    height: 100%;
}

.searchbar input[type="text"].active {
    width: 250px;
    height: 100%;
    padding: 0 10px;
    transition: all .5s ease;
}

.nav-link {
    color: #111
}

.hero-block {
    display: flex;
    background-color: #DCC1AB;
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
}

.carousel {
    width: 100%;
}

.hero-block_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero-block_contant {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 40px;
}

.hero-block h1 {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.hero-block p {
    width: 70%;
    color: var(--black, #111);
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.hero-block_button {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    background: #1B5B31;
    border: none
}

.hero-block_button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #1B5B31;
    color: #1B5B31;
}

.offer {
    display: flex;
    flex-direction: column;
    background-color: #F5F0EC;
}

.offer_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px 0;
    width: 50%;
    margin: 0 auto;
    transform: translateX(-20%);
}

.offer_header h1 {
    margin-bottom: 30px;
    color: #111;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.44px;
}

.offer_header h1 p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
}

.offer_items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.offer_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 25%;
    max-width: 500px;
    padding: 48px 40px;
    background-color: #fff;
    border-radius: 28px;
    transition: transform .2s;
}

.offer_item:hover {
    transform: scale(1.04);
}

.offer_item a {
    text-decoration: none;
    padding-bottom: 5px;
    color: #1B5B31;
    border-bottom: 1px solid #1B5B31;
    align-self: baseline;
}

.offer_item h2 {
    font-size: 28px;
    margin-bottom: 12px;
    margin-top: 32px;
}

.offer_item p {
    font-size: 14px;
}

/* Comapny */

.company {
    display: flex;
    justify-content: space-around;
}

.company_photo {
    width: 40%;
}

.company_content {
    width: 60%;
    background-color: #1B5B31;
}

.company_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 150px;
    height: 100%;
}

.company_content h2 {
    color: #F5F0EC;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.44px;
}

.company_content p {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    color: #F5F0EC;
    font-weight: 400;
}

.company_content button {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    background: #1B5B31;
    background-color: transparent;
    border: 1px solid #F5F0EC;
}

.company_photo {
    background-image: url('./assets/img/companyphoto.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.realizations {
    position: relative;
    background-color: #DCC1AB;
    max-width: 1400px;
    margin: 0 auto;
}

.realizations_shadow {
    height: 50%;
    background-color: red;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

.realizations h2 {
    font-size: 48px;
    padding: 150px 150px;
}

.macy-container img {
    width: 100%;
}

/* Instagram */

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 25vh;
}

.instagram_content {
    display: flex;
    padding: 80px;
    margin: 60px;
    background-color: #1B5B31;
    color: #fff;
}

.instagram_content button {
    align-self: start;
    padding: 10px 24px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 50px;
    color: #1B5B31;
    border: none;
}

.instagram_content_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.dblock {
    display: block;
}

/* Footer */

.footer {
    background-color: #000;
    color: #fff;
    padding: 100px;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_content_line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_content_line1 img {
    filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(28deg) brightness(112%) contrast(98%);
}

.footer_content_line1 div p {
    margin: auto;
}

.footer_content_line2 {
    display: flex;
    justify-content: space-between;
}

.footer_content_line2 ul {
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
}

.footer_content_line2 ul li {
    margin: 20px 20px 20px 0;
    border-bottom: 1px solid transparent;

}

.footer_content_line2 ul li a {
    color: #fff;
    text-decoration: none;
}

.footer_content_line2 ul li:hover {
    border-bottom: 1px solid #1B5B31;
}

.footer_content_line2 div a {
    color: #fff;
    text-decoration: none;
}

.footer_content_line2 div a:nth-child(2) {
    margin-left: 50px;

}

.footer_content_line3 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer_content div button {
    padding: 10px 15px;
    background-color: #1B5B31;
    color: #fff;
    border: none;
    border-radius: 50px;
    margin-left: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}

@media (max-width: 992px) {

    .company_content_wrapper {
        padding: 80px;
    }

    /* Navigation */

    .searchbar {
        height: 40px;
    }

    .searchbar .icon {
        left: 0;
        right: auto;
    }

    /* Hero */

    .hero-block {
        flex-direction: column;
    }

    .realizations h2 {
        font-size: 28px;
        padding: 60px 50px;
    }
}


@media (max-width: 768px) {

    .offer_header h1 {
        font-size: 38px;
    }

    .offer_item {
        width: 90%;
        margin: 10px auto;
    }

    .offer_items {
        flex-direction: column;
    }

    .company {
        flex-direction: column;
    }

    .company_content {
        width: 100%;
        height: 50%;
    }

    .company_content_wrapper {
        padding: 40px;
    }

    .company_photo {
        width: 100%;
        height: 400px;
    }

    /* Instagram */

    .instagram_content {
        flex-direction: column;
        margin: 20px;
        padding: 60px;
    }

    .instagram_content h2 {
        font-size: 1.5em;
    }

    .instagram_content_wrapper {
        margin-top: 30px;
        margin-left: 0;
    }

    .instagram_content_wrapper p {
        margin-bottom: 40px;
    }

    .footer {
        padding: 20px;
    }

    .footer hr {
        margin: 3em 0;
    }

    .footer_content_line2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer_content_line2 div {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer_content_line2 div a:nth-child(2) {
        margin: 0;
    }

    .footer_content_line2 div a {
        padding: 0 15px;

    }

    .footer_content_line2 ul {
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer_content_line1,
    .footer_content_line1 div {
        flex-direction: column;
    }

    .footer_content_line1 div p {
        text-align: center;
    }

    .footer_content_line1 img {
        padding: 20px;
    }

    .footer_content_line1 div p {
        padding-bottom: 20px;
    }

    .footer_content_line1 div button {
        margin: 0;
    }

    .footer_content_line2 ul li {
        margin: 0 20px 20px 20px;
    }

    .footer_content_line3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}
